// https://github.com/leftwm/leftwm/wiki

#![enable(implicit_some)]
(
    modkey: "Mod4",
    mousekey: "Mod4",
    workspaces: [],
    tags: [
        "web",
        "ed",
        "bg",
        "mm",
        "rd",
        "im",
        "chill",
        "gs",
        "*",
    ],
    max_window_width: None,
    layout_mode: Tag,
    insert_behavior: Bottom,
    scratchpad: [
        (name: "bluetooth", value: "blueman-manager", x: 0.1, y: 0.1, height: 0.8, width: 0.8),
        (name: "spacefm", value: "spacefm", x: 0.1, y: 0.1, height: 0.8, width: 0.8),
        (name: "ncmpcpp", value: "alacritty -e ncmpcpp", x: 0.1, y: 0.15, height: 0.71, width: 0.8),
        (name: "notes", value: "alacritty --config-file ~/.config/alacritty/alacritty-scratchpad.toml -e nvim ~/notes/to-do.md", x: 0.5, y: 0.05, height: 0.9, width: 0.5),
        (name: "pulseaudio", value: "pavucontrol", x: 0.1, y: 0.1, height: 0.8, width: 0.8),
        (name: "alacritty-1", value: "alacritty --config-file ~/.config/alacritty/alacritty-scratchpad.toml", x: 0, y: 0.5, height: 0.45, width: 0.5),
        (name: "alacritty-2", value: "alacritty --config-file ~/.config/alacritty/alacritty-scratchpad.toml", x: 0.5, y: 0.5, height: 0.45, width: 0.5),
        (name: "alacritty-3", value: "alacritty --config-file ~/.config/alacritty/alacritty-scratchpad.toml", x: 0, y: 0.05, height: 0.45, width: 0.5),
        (name: "alacritty-4", value: "alacritty --config-file ~/.config/alacritty/alacritty-scratchpad.toml", x: 0.5, y: 0.05, height: 0.45, width: 0.5),
    ],
    window_rules: [],
    disable_current_tag_swap: false,
    disable_tile_drag: false,
    disable_window_snap: true,
    focus_behaviour: Sloppy,
    focus_new_windows: true,
    single_window_border: true,
    sloppy_mouse_follows_focus: true,
    auto_derive_workspaces: true,
    keybind: [
        (command: ToggleScratchPad, value: "notes", modifier: ["modkey"], key: "n"),
        (command: ToggleScratchPad, value: "ncmpcpp", modifier: ["modkey"], key: "m"),
        (command: ToggleScratchPad, value: "bluetooth", modifier: [], key: "F7"),
        (command: ToggleScratchPad, value: "pulseaudio", modifier: [], key: "F8"),
        (command: ToggleScratchPad, value: "spacefm", modifier: ["modkey"], key: "s"),
        (command: ToggleScratchPad, value: "alacritty-1", modifier: [], key: "F1"),
        (command: ToggleScratchPad, value: "alacritty-2", modifier: [], key: "F2"),
        (command: ToggleScratchPad, value: "alacritty-3", modifier: [], key: "F3"),
        (command: ToggleScratchPad, value: "alacritty-4", modifier: [], key: "F4"),
        (command: Execute, value: "dm-tool lock", modifier: ["modkey"], key: "l"),
        (command: Execute, value: "rofi -modi drun -matching fuzzy -sorting-method fzf drun -show", modifier: ["modkey"], key: "x"),
        (command: Execute, value: "rofimoji", modifier: ["modkey"], key: "z"),
        (command: Execute, value: "telegram-desktop", modifier: ["modkey"], key: "t"),
        (command: Execute, value: "turn-off-display-and-music", modifier: ["modkey"], key: "o"),
        (command: CloseWindow, value: "", modifier: ["modkey"], key: "q"),
        (command: Execute, value: "alacritty", modifier: ["modkey"], key: "Return"),
        (command: Execute, value: "rofi -modi \'clipboard:greenclip print\' -show clipboard -run-command \'{cmd}\'", modifier: ["modkey"], key: "c"),
        (command: Execute, value: "firefox -p work", modifier: ["modkey"], key: "b"),
        (command: Execute, value: "firefox -p chill", modifier: ["modkey"], key: "y"),
        (command: Execute, value: "alacritty --class nvim -e fish -c nvim", modifier: ["modkey"], key: "v"),
        (command: Execute, value: "maim ~/screenshots/$(date +%Y-%m-%d-%H-%M-%S)-full.png", modifier: ["modkey"], key: "Print"),
        (command: Execute, value: "maim --capturebackground --select ~/screenshots/$(date +%Y-%m-%d-%H-%M-%S)-region.png", modifier: [], key: "Print"),
        (command: Execute, value: "sound-volume-up", modifier: [], key: "XF86XK_AudioRaiseVolume"),
        (command: Execute, value: "sound-volume-down", modifier: [], key: "XF86XK_AudioLowerVolume"),
        (command: Execute, value: "sound-volume-up", modifier: ["modkey"], key: "Page_Up"),
        (command: Execute, value: "sound-volume-down", modifier: ["modkey"], key: "Page_Down"),
        (command: Execute, value: "pactl set-sink-mute @DEFAULT_SINK@ toggle", modifier: [], key: "XF86XK_AudioMute"),
        (command: Execute, value: "brightnessctl set +10%", modifier: [], key: "XF86XK_MonBrightnessUp"),
        (command: Execute, value: "brightnessctl set 10%-", modifier: [], key: "XF86XK_MonBrightnessDown"),
        (command: Execute, value: "pick-color", modifier: ["modkey"], key: "k"),
        (command: Execute, value: "random-wallpaper", modifier: ["modkey"], key: "w"),
        (command: Execute, value: "poweroff", modifier: ["modkey", "Control"], key: "h"),
        (command: SoftReload, value: "", modifier: ["modkey", "Control"], key: "r"),
        (command: GotoTag, value: "1", modifier: ["modkey"], key: "1"),
        (command: GotoTag, value: "2", modifier: ["modkey"], key: "2"),
        (command: GotoTag, value: "3", modifier: ["modkey"], key: "3"),
        (command: GotoTag, value: "4", modifier: ["modkey"], key: "4"),
        (command: GotoTag, value: "5", modifier: ["modkey"], key: "5"),
        (command: GotoTag, value: "6", modifier: ["modkey"], key: "6"),
        (command: GotoTag, value: "7", modifier: ["modkey"], key: "7"),
        (command: GotoTag, value: "8", modifier: ["modkey"], key: "8"),
        (command: GotoTag, value: "9", modifier: ["modkey"], key: "9"),
        (command: MoveToTag, value: "1", modifier: ["modkey", "Shift"], key: "1"),
        (command: MoveToTag, value: "2", modifier: ["modkey", "Shift"], key: "2"),
        (command: MoveToTag, value: "3", modifier: ["modkey", "Shift"], key: "3"),
        (command: MoveToTag, value: "4", modifier: ["modkey", "Shift"], key: "4"),
        (command: MoveToTag, value: "5", modifier: ["modkey", "Shift"], key: "5"),
        (command: MoveToTag, value: "6", modifier: ["modkey", "Shift"], key: "6"),
        (command: MoveToTag, value: "7", modifier: ["modkey", "Shift"], key: "7"),
        (command: MoveToTag, value: "8", modifier: ["modkey", "Shift"], key: "8"),
        (command: MoveToTag, value: "9", modifier: ["modkey", "Shift"], key: "9"),
        (command: FloatingToTile, value: "", modifier: ["modkey"], key: "u"),
        (command: IncreaseMainWidth, value: "1", modifier: ["modkey", "Shift"], key: "Right"),
        (command: DecreaseMainWidth, value: "1", modifier: ["modkey", "Shift"], key: "Left"),
        (command: FocusWindowUp, value: "", modifier: ["modkey"], key: "Left"),
        (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "Right"),
        (command: MoveWindowUp, value: "", modifier: ["modkey", "Control"], key: "Right"),
        (command: MoveWindowDown, value: "", modifier: ["modkey", "Control"], key: "Left"),
        (command: ToggleFullScreen, value: "", modifier: ["modkey"], key: "f"),
        (command: NextLayout, value: "", modifier: ["modkey"], key: "space"),
        (command: RotateTag, value: "", modifier: ["modkey"], key: "r"),
    ],
    state_path: None,
)
