home/.config/spacefm
home/.config/Upwork
home/.config/pulse
home/.config/Google Play Music Desktop Player
home/.config/coc
home/.config/libreoffice
home/.config/google-chrome
home/.config/xfce4
home/.config/nomacs
home/.config/transmission
home/.config/fisher
home/.config/fish/fish_variables

home/.config/nvim/plugged
home/.config/nvim/backup
home/.config/nvim/undo
home/.config/nvim/session

home/.config/MellowPlayer/
home/.config/VCG/
home/.config/blender/
home/.config/configstore/
home/.config/evolution/
home/.config/fontconfig/
home/.config/nvim/.netrwhist
home/.config/openbox/
home/.config/session/

configuration.nix

node_modules
