[include]
  path = ~/.gitconfig_user
[core]
	excludesfile = ~/.gitignore
	filemode = false
	pager = "diff-so-fancy | less --tabs=2 -RFX"
[push]
	default = current
[color]
	ui = true
[branch "master"]
	remote = origin
