!! URxvt Appearance
URxvt.font:                       xft:Terminus:size=14
URxvt.internalBorder:             10
URxvt.cursorBlink:                false
URxvt.cursorUnderline:            true
URxvt.saveline:                   32768
URxvt.scrollBar:                  false
URxvt.scrollBar_right:            false
URxvt.scrollBar_floating:         false
URxvt.scrollstyle:                plain
URxvt.urgentOnBell:               false
URxvt.depth:                      24
URxvt.iso14755:                   false

!! URxvt Extensions
URxvt.perl-ext-common:            default,clipboard,keyboard-select,url-select,tabbedex

URxvt.tabbedex.no-tabbedex-keys:  yes
URxvt.tabbedex.new-button:        false
URXvt.tabbedex.reopen-on-close:   yes
URxvt.tabbedex.autohide:          true

URxvt.tabbedex.tabbar-fg:         8
URxvt.tabbedex.tabbar-bg:         8
URxvt.tabbedex.tab-fg:            5
URxvt.tabbedex.tab-bg:            8
URxvt.tabbedex.bell-fg:           8
URxvt.tabbedex.bell-bg:           8
URxvt.tabbedex.bell-tab-fg:       1
URxvt.tabbedex.bell-tab-bg:       8
URxvt.tabbedex.title-fg:          4
URxvt.tabbedex.title-bg:          8

URxvt.keysym.Control-Shift-T:     perl:tabbedex:new_tab
URxvt.keysym.Control-Shift-R:     perl:tabbedex:rename_tab
URxvt.keysym.Control-Shift-W:     perl:tabbedex:kill_tab
URxvt.keysym.Control-Next:        perl:tabbedex:next_tab
URxvt.keysym.Control-Prior:       perl:tabbedex:prev_tab
URxvt.keysym.Control-Shift-Next:  perl:tabbedex:move_tab_left
URxvt.keysym.Control-Shift-Prior: perl:tabbedex:move_tab_right

URxvt.clipboard.copycmd:          xclip -i -selection clipboard
URxvt.clipboard.pastecmd:         xclip -o -selection clipboard
URxvt.keysym.M-c:                 perl:clipboard:copy
URxvt.keysym.M-v:                 perl:clipboard:paste
URxvt.keysym.M-Escape:            perl:keyboard-select:activate
URxvt.keysym.M-s:                 perl:keyboard-select:search
URxvt.urlLauncher:                google-chrome-stable
URxvt.underlineURLs:              true
URxvt.urlButton:                  1

! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #1B161F
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6
