/* 
vim:syntax=css
*/

configuration {
  font: "Terminus 14";
  /* Disable italic for Terminus */
  drun-display-format: "{name} [<span weight='light' size='small'>({generic})</span>]";
  bw: 0;
  case-sensitive: false;
  matching: "fuzzy";
  sort: true;
  sorting-method: "fzf";
}

@theme "grey"
