// colors
$accentColor = #8178a6
$textColor = #1B161F
$borderColor = #eaecef
$codeBgColor = #231e27
$arrowBgColor = #ccc
$badgeTipColor = #c16fb4
$badgeWarningColor = darken(#d5aa2a, 35%)
$badgeErrorColor = #c84e4e

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px
