@define-color bg    #16161e;
@define-color fg1   #3a3a45;
@define-color fg2   #6a6a7a;
@define-color fg3   #d0d0d0;

@define-color white #fff;

* {
    font-family: "CaskaydiaMono Nerd Font Propo", monospace;
    font-size: 14px;
}

window#waybar>box {
  padding: 10px;
}

window#waybar {
    background-color: @bg;
    color: @fg3;
}

#workspaces button {
    color: @fg2;
    padding: 0 6px;
    background: transparent;
}
#workspaces button.active {
    color: @white;
}
#workspaces button.empty.active {
    color: @white;
}
#workspaces button.empty {
    color: @fg1;
}

#workspaces button.urgent {
    color: @bg;
    background-color: @fg3;
}

#battery.warning {
    color: @bg;
    background-color: @fg3;
}
#battery.critical {
    color: @bg;
    background-color: @white;
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray {
    padding: 0 8px;
}
